<footer class="site-footer">
    <div class="wpb_row">
        <div class="footer-sidebar">
            <div class="row-inner ">
                <div class="vc_col-sm-3">
                    <div class="widget-area">
                        <aside id="nav_menu-3" class="widget widget_nav_menu">
                            <h3 class="widget-title">Sitemap</h3>
                            <div class="menu-sitemap-container">
                                <ul id="menu-sitemap" class="menu">
                                    <li><a href="/">Home</a></li>
                                    <li>
                                      Solutions
                                      <ul>
                                        <li><a href="/our-services/e-commerce-solutions/">E-Commerce Solutions</a></li>
                                        <li><a href="/our-services/identity-and-access-management/">Identity & Access Management</a></li>
                                        <li><a href="/our-services/penetration-testing/">Penetration Testing</a></li>
                                        <li><a href="/our-services/custom-data-solutions/">Custom Data Solutions</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      Industries
                                      <ul>
                                        <li><a href="/industries/law-firms/">Law Firms</a></li>
                                        <li><a href="/industries/financial-institutions/">Financial Institutions</a></li>
                                        <li><a href="/industries/accounting-firms/">Accounting Firms</a></li>
                                        <li><a href="/industries/government/">Government</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="/about-us/">About Us</a></li>
                                    <li><a href="/contact-us/">Contact Us</a></li>
                                    <li><a href="/privacy-statement/">Privacy Policy</a></li>
                                  </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="vc_col-sm-3">
                    <div class="widget-area">
                        <aside id="text-7" class="widget widget_text">
                            <h3 class="widget-title">Main Office</h3>
                            <div class="textwidget">
                                <p>STE 206<br />
                                    1650 SE 3RD AVE,<br />
                                    Portland, Oregon 97214</p>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="vc_col-sm-3">
                    <div class="widget-area">
                        <aside id="text-9" class="widget widget_text">
                            <h3 class="widget-title">Contact Info</h3>
                            <div class="textwidget">
                                <p>Phone: 971-444-2625<br />
                                    contact@websharpstudios.com</p>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="vc_col-sm-3">
                   
                </div>
            </div><!-- .row-inner -->
        </div><!-- .footer-sidebar -->

    </div><!-- .wpb_row -->
</footer><!-- .site-footer -->
<nav id="mobile-site-navigation" role="navigation">
    <ul id="menu-onepage-mobile" class="menu">
      {% for link in site.data.menu %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.submenu %}
            <ul class="sub-menu">
              {% for sublink in link.submenu %}
                <li>
                  <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

<a href="#top" class="scrollToTop invisible">
    <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
        x="0px" y="0px" viewBox="0 0 200.387 200.387" style="enable-background:new 0 0 200.387 200.387;"
        xml:space="preserve">
        <polygon
            points="5.504,154.449 0,149.102 100.197,45.938 200.387,149.102 194.893,154.449 100.197,56.947         " />
        <polygon
            points="100.197,45.938 0,149.102 5.504,154.449 100.197,56.947 194.893,154.449 200.387,149.102     " />
    </svg>
</a>
</div><!-- #wrapper -->


<script type="text/html" id="wpb-modifications"></script>
<link rel='stylesheet' id='vc_animate-css-css'
    href='/wp-content/plugins/js_composer/assets/lib/bower/animate-css/animate.min.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='gambit_parallax-css' href='/wp-content/plugins/parallax-backgrounds-for-vc/css/style.css'
    type='text/css' media='all' />
<link rel='stylesheet' id='vc_font_awesome_5_shims-css'
    href='/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/v4-shims.min.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='vc_font_awesome_5-css'
    href='/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/all.min.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='prettyphoto-css'
    href='/wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto.min.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='vc_pageable_owl-carousel-css-css'
    href='/wp-content/plugins/js_composer/assets/lib/owl-carousel2-dist/assets/owl.min.css' type='text/css'
    media='all' />
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = { "apiSettings": { "root": "https:\/\/websharpstudios.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
/* ]]> */
</script>
<script type='text/javascript' defer src='/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var leadin_wordpress = { "userRole": "visitor", "pageType": "home", "leadinPluginVersion": "7.43.4" };
/* ]]> */
</script>

<script type='text/javascript' defer src='/assets/js/svgjs/svg.min.js'></script>
<script type='text/javascript' defer src='/assets/js/custom-footer.js'></script>
<script type='text/javascript' defer src='/assets/js/threejs/three.min.js'></script>
<script type='text/javascript' defer src='/assets/js/threejs/EffectComposer.js'></script>
<script type='text/javascript' defer src='/assets/js/threejs/CopyShader.js'></script>
<script type='text/javascript' defer src='/assets/js/threejs/FXAAShader.js'></script>
<script type='text/javascript' defer src='/assets/js/threejs/RenderPass.js'></script>
<script type='text/javascript' defer src='/assets/js/threejs/ShaderPass.js'></script>
<script type="x-shader/x-vertex" id="vertexShader">


vec3 mod289(vec3 x)
{
return x - floor(x * (1.0 / 289.0)) * 289.0;
}

vec4 mod289(vec4 x)
{
return x - floor(x * (1.0 / 289.0)) * 289.0;
}

vec4 permute(vec4 x)
{
return mod289(((x*34.0)+1.0)*x);
}

vec4 taylorInvSqrt(vec4 r)
{
return 1.79284291400159 - 0.85373472095314 * r;
}

vec3 fade(vec3 t) {
return t*t*t*(t*(t*6.0-15.0)+10.0);
}

// Classic Perlin noise
float cnoise(vec3 P) {
vec3 Pi0 = floor(P); // Integer part for indexing
vec3 Pi1 = Pi0 + vec3(1.0); // Integer part + 1
Pi0 = mod289(Pi0);
Pi1 = mod289(Pi1);
vec3 Pf0 = fract(P); // Fractional part for interpolation
vec3 Pf1 = Pf0 - vec3(1.0); // Fractional part - 1.0
vec4 ix = vec4(Pi0.x, Pi1.x, Pi0.x, Pi1.x);
vec4 iy = vec4(Pi0.yy, Pi1.yy);
vec4 iz0 = Pi0.zzzz;
vec4 iz1 = Pi1.zzzz;

vec4 ixy = permute(permute(ix) + iy);
vec4 ixy0 = permute(ixy + iz0);
vec4 ixy1 = permute(ixy + iz1);

vec4 gx0 = ixy0 * (1.0 / 7.0);
vec4 gy0 = fract(floor(gx0) * (1.0 / 7.0)) - 0.5;
gx0 = fract(gx0);
vec4 gz0 = vec4(0.5) - abs(gx0) - abs(gy0);
vec4 sz0 = step(gz0, vec4(0.0));
gx0 -= sz0 * (step(0.0, gx0) - 0.5);
gy0 -= sz0 * (step(0.0, gy0) - 0.5);

vec4 gx1 = ixy1 * (1.0 / 7.0);
vec4 gy1 = fract(floor(gx1) * (1.0 / 7.0)) - 0.5;
gx1 = fract(gx1);
vec4 gz1 = vec4(0.5) - abs(gx1) - abs(gy1);
vec4 sz1 = step(gz1, vec4(0.0));
gx1 -= sz1 * (step(0.0, gx1) - 0.5);
gy1 -= sz1 * (step(0.0, gy1) - 0.5);

vec3 g000 = vec3(gx0.x,gy0.x,gz0.x);
vec3 g100 = vec3(gx0.y,gy0.y,gz0.y);
vec3 g010 = vec3(gx0.z,gy0.z,gz0.z);
vec3 g110 = vec3(gx0.w,gy0.w,gz0.w);
vec3 g001 = vec3(gx1.x,gy1.x,gz1.x);
vec3 g101 = vec3(gx1.y,gy1.y,gz1.y);
vec3 g011 = vec3(gx1.z,gy1.z,gz1.z);
vec3 g111 = vec3(gx1.w,gy1.w,gz1.w);

vec4 norm0 = taylorInvSqrt(vec4(dot(g000, g000), dot(g010, g010), dot(g100, g100), dot(g110, g110)));
g000 *= norm0.x;
g010 *= norm0.y;
g100 *= norm0.z;
g110 *= norm0.w;
vec4 norm1 = taylorInvSqrt(vec4(dot(g001, g001), dot(g011, g011), dot(g101, g101), dot(g111, g111)));
g001 *= norm1.x;
g011 *= norm1.y;
g101 *= norm1.z;
g111 *= norm1.w;

float n000 = dot(g000, Pf0);
float n100 = dot(g100, vec3(Pf1.x, Pf0.yz));
float n010 = dot(g010, vec3(Pf0.x, Pf1.y, Pf0.z));
float n110 = dot(g110, vec3(Pf1.xy, Pf0.z));
float n001 = dot(g001, vec3(Pf0.xy, Pf1.z));
float n101 = dot(g101, vec3(Pf1.x, Pf0.y, Pf1.z));
float n011 = dot(g011, vec3(Pf0.x, Pf1.yz));
float n111 = dot(g111, Pf1);

vec3 fade_xyz = fade(Pf0);
vec4 n_z = mix(vec4(n000, n100, n010, n110), vec4(n001, n101, n011, n111), fade_xyz.z);
vec2 n_yz = mix(n_z.xy, n_z.zw, fade_xyz.y);
float n_xyz = mix(n_yz.x, n_yz.y, fade_xyz.x);
return n_xyz;
}

// Classic Perlin noise, periodic variant
float pnoise(vec3 P, vec3 rep) {
vec3 Pi0 = mod(floor(P), rep); // Integer part, modulo period
vec3 Pi1 = mod(Pi0 + vec3(1.0), rep); // Integer part + 1, mod period
Pi0 = mod289(Pi0);
Pi1 = mod289(Pi1);
vec3 Pf0 = fract(P); // Fractional part for interpolation
vec3 Pf1 = Pf0 - vec3(1.0); // Fractional part - 1.0
vec4 ix = vec4(Pi0.x, Pi1.x, Pi0.x, Pi1.x);
vec4 iy = vec4(Pi0.yy, Pi1.yy);
vec4 iz0 = Pi0.zzzz;
vec4 iz1 = Pi1.zzzz;

vec4 ixy = permute(permute(ix) + iy);
vec4 ixy0 = permute(ixy + iz0);
vec4 ixy1 = permute(ixy + iz1);

vec4 gx0 = ixy0 * (1.0 / 7.0);
vec4 gy0 = fract(floor(gx0) * (1.0 / 7.0)) - 0.5;
gx0 = fract(gx0);
vec4 gz0 = vec4(0.5) - abs(gx0) - abs(gy0);
vec4 sz0 = step(gz0, vec4(0.0));
gx0 -= sz0 * (step(0.0, gx0) - 0.5);
gy0 -= sz0 * (step(0.0, gy0) - 0.5);

vec4 gx1 = ixy1 * (1.0 / 7.0);
vec4 gy1 = fract(floor(gx1) * (1.0 / 7.0)) - 0.5;
gx1 = fract(gx1);
vec4 gz1 = vec4(0.5) - abs(gx1) - abs(gy1);
vec4 sz1 = step(gz1, vec4(0.0));
gx1 -= sz1 * (step(0.0, gx1) - 0.5);
gy1 -= sz1 * (step(0.0, gy1) - 0.5);

vec3 g000 = vec3(gx0.x,gy0.x,gz0.x);
vec3 g100 = vec3(gx0.y,gy0.y,gz0.y);
vec3 g010 = vec3(gx0.z,gy0.z,gz0.z);
vec3 g110 = vec3(gx0.w,gy0.w,gz0.w);
vec3 g001 = vec3(gx1.x,gy1.x,gz1.x);
vec3 g101 = vec3(gx1.y,gy1.y,gz1.y);
vec3 g011 = vec3(gx1.z,gy1.z,gz1.z);
vec3 g111 = vec3(gx1.w,gy1.w,gz1.w);

vec4 norm0 = taylorInvSqrt(vec4(dot(g000, g000), dot(g010, g010), dot(g100, g100), dot(g110, g110)));
g000 *= norm0.x;
g010 *= norm0.y;
g100 *= norm0.z;
g110 *= norm0.w;
vec4 norm1 = taylorInvSqrt(vec4(dot(g001, g001), dot(g011, g011), dot(g101, g101), dot(g111, g111)));
g001 *= norm1.x;
g011 *= norm1.y;
g101 *= norm1.z;
g111 *= norm1.w;

float n000 = dot(g000, Pf0);
float n100 = dot(g100, vec3(Pf1.x, Pf0.yz));
float n010 = dot(g010, vec3(Pf0.x, Pf1.y, Pf0.z));
float n110 = dot(g110, vec3(Pf1.xy, Pf0.z));
float n001 = dot(g001, vec3(Pf0.xy, Pf1.z));
float n101 = dot(g101, vec3(Pf1.x, Pf0.y, Pf1.z));
float n011 = dot(g011, vec3(Pf0.x, Pf1.yz));
float n111 = dot(g111, Pf1);

vec3 fade_xyz = fade(Pf0);
vec4 n_z = mix(vec4(n000, n100, n010, n110), vec4(n001, n101, n011, n111), fade_xyz.z);
vec2 n_yz = mix(n_z.xy, n_z.zw, fade_xyz.y);
float n_xyz = mix(n_yz.x, n_yz.y, fade_xyz.x);
return 2.2 * n_xyz;
}

float stripes( float x, float f) {
float PI = 3.14159265358979323846264;
float t = .5 + .5 * sin( f * 2.0 * PI * x);
return t * t - .5;
}

float turbulence( vec3 p ) {
float w = 100.0;
float t = -.5;
for (float f = 1.0 ; f <= 10.0 ; f++ ){
    float power = pow( 2.0, f );
    t += abs( pnoise( vec3( power * p ), vec3( 10.0, 10.0, 10.0 ) ) / power );
}
return t;
}

float f( vec3 p ) {
return pnoise( vec3( p ), vec3( 10.0, 10.0, 10.0 ) );
return pnoise( 8.0 * vec3( p ), vec3( 10.0, 10.0, 10.0 ) );
}

float fround( float value ) {
return floor( value + 0.5 );
}

vec3 v3round( vec3 value ) {
return vec3( fround( value.x ), fround( value.y ), fround( value.z ) );
}

uniform vec2 u_mousePosition;

varying float distortion;
varying float color1;
varying float color2;

varying vec2 vUv;
varying float mouseX;
varying float mouseY;

void main() {
mouseX = (u_mousePosition.x - 0.4);
mouseY = (u_mousePosition.y - 0.4);
distortion = pnoise(normal + mouseY, vec3(10.)) * mouseX * 10.;

vUv = uv;
vec3 pos = position;

color1 = pnoise(normal + 0.9, vec3(10.)) * 1.0;
color2 = pnoise(normal + 0.29, vec3(10.)) * 0.6;

gl_Position = projectionMatrix * modelViewMatrix * vec4(pos, 1.0);
}
</script>
<script type="x-shader/x-vertex" id="fragmentShader">
vec3 rgb(float r, float g, float b) {
return vec3(r / 255., g / 255., b / 255.);
}

vec3 rgb(float c) {
return vec3(c / 255., c / 255., c / 255.);
}
float lighten(float base, float blend) {
return max(blend,base);
}

vec3 lighten(vec3 base, vec3 blend) {
return vec3(lighten(base.r,blend.r),lighten(base.g,blend.g),lighten(base.b,blend.b));
}

vec3 lighten(vec3 base, vec3 blend, float opacity) {
return (lighten(base, blend) * opacity + base * (1.0 - opacity));
}
float overlay(float base, float blend) {
return base<0.5?(2.0*base*blend):(1.0-2.0*(1.0-base)*(1.0-blend));
}

vec3 overlay(vec3 base, vec3 blend) {
return vec3(overlay(base.r,blend.r),overlay(base.g,blend.g),overlay(base.b,blend.b));
}

vec3 overlay(vec3 base, vec3 blend, float opacity) {
return (overlay(base, blend) * opacity + base * (1.0 - opacity));
}

varying float distortion;
varying float color1;
varying float color2;

varying vec2 vUv;
varying float mouseX;
varying float mouseY;

uniform vec2 u_dimensions;
uniform float u_multiplier;

void main() {
vec2 st = gl_FragCoord.xy / u_dimensions * u_multiplier;
// vec3 baseColor = rgb(190., 20., 120.);
vec3 baseColor = rgb(243., 228., 58.);
vec3 color = baseColor;

color = overlay(baseColor, rgb(255.), distortion);
// color = mix(color, rgb(255., 255., 255.), st.x * 1.3 - 0.2);  // white
color = mix(color, rgb(240., 7., 217.), st.x * 1.3 - 0.2);  // pink
color = mix(color, rgb(255., 255., 20.), st.y - 0.3); //yellow

gl_FragColor = vec4(color, 1.0);
}
</script>
<script type='text/javascript' defer src='/assets/js/threejs/vanta.dots.min.js'></script>
<script type='text/javascript' defer src='/assets/js/threejs/custom.js'></script>
<script type='text/javascript' defer src='/assets/js/sketch6-home.min.js'></script>
<script type='text/javascript' defer src='/wp-content/themes/tilt/library/js/scripts.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var objectL10n = { "title": "Menu" };
/* ]]> */
</script>
<script type='text/javascript' defer src='/wp-content/themes/tilt/library/js/libs/jquery.mmenu.js'></script>
<script type='text/javascript' defer src='/wp-includes/js/wp-embed.min.js'></script>
<script type='text/javascript' defer
    src='/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js'></script>
<script type='text/javascript' defer
    src='/wp-content/plugins/js_composer/assets/lib/vc_waypoints/vc-waypoints.min.js'></script>
<script type='text/javascript' defer
    src='/wp-content/plugins/parallax-backgrounds-for-vc/js/min/script-min.js'></script>
<script type='text/javascript' defer src='/wp-includes/js/jquery/ui/core.min.js'></script>
<script type='text/javascript' defer src='/wp-includes/js/jquery/ui/widget.min.js'></script>
<script type='text/javascript' defer src='/wp-includes/js/jquery/ui/tabs.min.js'></script>
<script type='text/javascript' defer
    src='/wp-content/plugins/js_composer/assets/lib/bower/jquery-ui-tabs-rotate/jquery-ui-tabs-rotate.min.js'></script>
<script type='text/javascript' defer
    src='/wp-content/plugins/js_composer/assets/lib/prettyphoto/js/jquery.prettyPhoto.min.js'></script>
<script type='text/javascript' defer
    src='/wp-content/plugins/js_composer/assets/lib/owl-carousel2-dist/owl.carousel.min.js'></script>
<script type='text/javascript' defer
    src='/wp-content/plugins/js_composer/assets/lib/bower/imagesloaded/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' defer src='/wp-includes/js/underscore.min.js'></script>
<script type='text/javascript' defer src='/wp-content/plugins/js_composer/assets/js/dist/vc_grid.min.js'></script>
