<section id="our-services" class="explanations">
  <div class="row-overlay"></div>
  <div class="container"> 
    <div class="row">
      <div class="col-12 text-center">
        <h2>Our Services</h2>
      </div>
    </div>
    <div class="row mt-5">
      {% for service in site.data.services %}
      <div class="col-md-6 mb-4">
        <div class="card">
          <a href="{{ service.url }}">
            <img src="{{ service.image }}" class="card-img-top" alt="{{ service.title }}"> 
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ service.title }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <a href="{{ service.url }}" class="btn btn-primary">Tell Me More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>